body {
    overflow-x: hidden; 
  }
.maindiv{
    max-width: 1800px;
}
.navbar{
    background:#CAD3C8 !important;
    font-size: 20px;
    padding: 15px; 
}
.logo{
    font-size: 30px;
}
.contact
{
    display: flex;
    justify-content: center;
}
.contact li{
text-decoration: none;
display: inline-block;
margin-left: 15px;
margin-right: 15px;
font-size: 30px;
}
.contact li i{
    color: #009432;
}
.carousel_img{
    height: 400px;
}